export const wfPages = [
  'home'
] as const

export type WfPage = (typeof wfPages)[number]
export type WfGlobalSelector = keyof typeof wfGlobalSelectors

export interface WfPageInfo {
  slug: WfPage
  title: string
  id?: string
}

export const wfPageInfo: Record<WfPage, WfPageInfo> = {
  home: { slug: 'home', title: 'Home' }
}

export const wfPageSelectors: Record<WfPage, string> = {
  home: '[data-page="home"]'
}

export const wfPageRootSelectors: Record<WfPage, string> = {
  home: '[data-wf-home-root]'
}

export const wfGlobalSelectors = {
  siteRoot: '[data-wf-site-root]',
  docsRoot: '[data-wf-docs-root]'
} as const
