{
  "name": "{{.Name}}",
  "version": "0.0.0",
  "scripts": {
    "dev": "vite",
    "proxy": "wfkit proxy",
    "start": "wfkit proxy",
    "publish": "wfkit publish --env prod",
    "build": "vite build",
    "vite": "vite",
    "lint": "eslint \"src/**/*.ts\"",
    "format": "prettier --write \"src/**/*.ts\""
  },
  "devDependencies": {
    "fast-glob": "^3.3.3",
    "vite": "^8.0.1",
    "typescript": "^5.0.0",
    "terser": "^5.0.0",
    "prettier": "^3.0.0",
    "eslint": "^10.1.0",
    "@typescript-eslint/parser": "^8.57.1",
    "@typescript-eslint/eslint-plugin": "^8.57.1",
    "eslint-config-prettier": "^10.1.8"
  }
}
