import { mountGlobalFeature } from '@/utils/webflow'

export function mountSiteStatusFeature() {
  mountGlobalFeature('siteRoot', element => {
    element.setAttribute('data-wf-enhanced', 'true')
  })
}
